name: .NET CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        [cite_start]dotnet-version: 10.0.102
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore